body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-content: start;
  flex-wrap: wrap;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
}

.Header {
  background-color: lightseagreen;
  width: 100%;
}

.Nav {
  height: 6em;
  background-color: rgb(67, 68, 68);
  width: 100%;
  padding-top: 1em;
  z-index: 1;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.Nav input[type="text"] {
  height: 3em;
  width: 50%;
}

.Nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  height: fit-content;
  flex-wrap: nowrap;
}

.Nav li {
  display: flex;
  margin-right: 1em;
  align-self: flex-start;
  height: 2.13em;
  width: 4em;
  justify-content: center;
  cursor: pointer;
}

.Nav li a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #eee;
  text-decoration: none;
}

.Nav li:hover,
.Nav li:hover a {
  color: #333;
  background-color: #eee;
}

.Nav li a:hover {
  color: #333;
  text-decoration: none;
}

.Home,
.About,
.NewPost,
.Post-Page {
  /* background-color: hotpink;  */
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.Footer {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: end;
  align-content: center;
}

.Post{
  display: flex;
  flex-direction: column;
  width: 90%;
  border-bottom: 1px solid gray;
}

.Post-Heading{
  color: #333;
  text-decoration: none;
  width: fit-content;
}

.Post-Heading:hover{
  cursor:pointer;
  text-shadow: 4px 4px 5px gray;
}

.Post-Page p{
  margin: 1em;
}

.Post-Page button{
  font-size: 18px;
  margin: 1em;
  align-self: start;
  background-color: red;
  color: white;
  height: 2.5em;
  width: 5em;
  border-radius: 10px;
  cursor: pointer;
}

.Post-Page button:active{
  background-color: darkred;
}
